.cashier-mobile-loading-container {
  background: #171717;
  transform: translateY(100%);
  animation: slideUp 0.25s ease-out forwards;
}

.cashier-mobile-loading-header {
  display: flex;
  justify-content: space-between;
  height: 59px;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cashier-mobile-loading-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
}

.cashier-mobile-loading-main-filters {
  display: flex;
  gap: 8px;
}

.cashier-mobile-loading-main-data {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

svg {
  cursor: pointer;
}

svg:hover {
  cursor: pointer;

  path {
    stroke: rgba(255, 255, 255, 0.9);
  }
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}
