.cashier-loading-container {
  user-select: none;
  width: 100%;
  height: 100%;
  background-color: #171717;
  border: 1px solid rgba(255, 255, 255, 0.1);

  animation: cashierFadeIn 0.2s ease-in-out forwards;
}

.cashier-loading-header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cashier-loading-main {
  display: flex;
  width: 100%;
  height: calc(100% - 60px);
}

.cashier-loading-navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 324px;
  width: 324px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.cashier-loading-navigation-filters {
  display: flex;
  gap: 8px;
}

.cashier-loading-navigation-data {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.cashier-loading-content {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px;
}

svg {
  cursor: pointer;
}

svg:hover {
  cursor: pointer;

  path {
    stroke: rgba(255, 255, 255, 0.9);
  }
}

@keyframes cashierFadeIn {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
